<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../VIEW/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../VIEW/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>FeedHub</title>
</head>

<body style="color: rgb(148, 148, 148);">
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper blue">
                <img src="../Image/coollogo_com-5677198.png" class="brand-logo center" width="200"></img>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="Conta.html">Conta</a></li>
                    <li><a href="ContaLoja.html">Conta Loja</a></li>
                    <li><a href="Index.html">Lojas</a></li>
                </ul>
            </div>
        </div>
        </nav>

    <br>


    <div class="row">

        <div class="row">
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="../Image/usuario.avif">
                        <span class="card-title " style="color: black;">Adicionar Fotos da Loja</span>
                        <a class="btn-floating halfway-fab waves-effect waves-light red"><i
                                class="material-icons">add</i></a>
                    </div>
                </div>
            </div>
        </div>

        <form class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate">
                    <label for="first_name">Nome</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate">
                    <label for="last_name">Endereço</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="cidade" type="text" class="validate">
                    <label for="cidade">Cidade</label>
                </div>
                <div class="input-field col s6">
                    <input id="estado" type="text" class="validate">
                    <label for="estado">Estado</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="cidade" type="text" class="validate">
                    <label for="cidade">CNPJ</label>
                </div>
                <div class="input-field col s6">
                    <input id="estado" type="text" class="validate">
                    <label for="estado">Email</label>
                </div>
            </div>
    </div>

    <div>
        <br></br>
        <br></br>
        <br></br>
    </div>

    </form>
    </div>

</body>

<footer class="page-footer blue ">
    <div class="footer-copyright">
        <div class="container">
            ©Copyright FeedHub - 2024
        </div>
    </div>
</footer>

</html>