<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="../VIEW/js/materialize.min.js"></script>
    <link rel="stylesheet" href="../VIEW/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>FeedHub</title>
</head>

<nav class="#0d47a1 blue darken-4">
    <img src="../Image/coollogo_com-5677198.png" class="brand-logo center" width="200"></img>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        <div class="user-view">
            <div class="background #0d47a1 blue darken-4">
            </div>
            <a href="#user"><img class="circle" src="../Image/usuario.avif"></a>
            <a href="#name"><span class="white-text name">Neymar</span></a>
            <a href="#email"><span class="white-text email">neymar@gmail.com</span></a>
        </div>
    </li>
    <li><a href="../VIEW/Conta.html"><i class="material-icons">person</i>Conta</a></li>
    <li><a href="../VIEW/Index.html"><i class="material-icons">store</i>Lojas</a></li>
</ul>
<a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons medium ">menu</i></a>
<br>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        // Initialize sidenav
        var elems = document.querySelectorAll(".sidenav");
        var instances = M.Sidenav.init(elems);

        // Initialize collapsible
        var collapsibleElems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(collapsibleElems);
    });
</script>

<body class="#f5f5f5 grey lighten-4">

    <div class=" row container">

        <div>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6 l4">
                <div class="card hoverable rounded-card">
                    <div class="card-image">
                        <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                    </div>
                    <div class="card-content">
                        <p>Descrição da Loja</p>
                        </br>
                        <div class="rating-wrapper">
                            <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        </div>
                    </div>
                    <div class="card-action center-align" style="font-size:large;">
                        <a href="../VIEW/Avaliar.html">Avaliar</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l4">
                <div class="card hoverable rounded-card">
                    <div class="card-image">
                        <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                    </div>
                    <div class="card-content">
                        <p>Descrição da Loja</p>
                        </br>
                        <div class="rating-wrapper">
                            <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        </div>
                    </div>
                    <div class="card-action center-align" style="font-size:large;">
                        <a href="../VIEW/Avaliar.html">Avaliar</a>
                    </div>
                </div>
            </div>


            <div class="col s12 m6 l4">
                <div class="card hoverable rounded-card">
                    <div class="card-image">
                        <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                    </div>
                    <div class="card-content">
                        <p>Descrição da Loja</p>
                        </br>
                        <div class="rating-wrapper">
                            <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                            <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        </div>
                    </div>
                    <div class="card-action center-align" style="font-size:large;">
                        <a href="../VIEW/Avaliar.html">Avaliar</a>
                    </div>
                </div>
            </div>


        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable rounded-card">
                <div class="card-image">
                    <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                </div>
                <div class="card-content">
                    <p>Descrição da Loja</p>
                    </br>
                    <div class="rating-wrapper">
                        <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                    </div>
                </div>
                <div class="card-action center-align" style="font-size:large;">
                    <a href="../VIEW/Avaliar.html">Avaliar</a>
                </div>
            </div>
        </div>


        <div class="col s12 m6 l4">
            <div class="card hoverable rounded-card">
                <div class="card-image">
                    <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                </div>
                <div class="card-content">
                    <p>Descrição da Loja</p>
                    </br>
                    <div class="rating-wrapper">
                        <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                    </div>
                </div>
                <div class="card-action center-align" style="font-size:large;">
                    <a href="../VIEW/Avaliar.html">Avaliar</a>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l4">
            <div class="card hoverable rounded-card">
                <div class="card-image">
                    <img src="../Image/loja.webp" class="responsive-img" alt="Loja">
                </div>
                <div class="card-content">
                    <p>Descrição da Loja</p>
                    </br>
                    <div class="rating-wrapper">
                        <img id="1" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="2" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="3" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="4" src="https://i.imgur.com/8XXRUz2.png" width="20">
                        <img id="5" src="https://i.imgur.com/8XXRUz2.png" width="20">
                    </div>
                </div>
                <div class="card-action center-align" style="font-size:large;">
                    <a href="../VIEW/Avaliar.html">Avaliar</a>
                </div>
            </div>
        </div>

    </div>

    <ul class="pagination center">
        <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
        <li class="active"><a href="#!">1</a></li>
        <li class="waves-effect"><a href="#!">2</a></li>
        <li class="waves-effect"><a href="#!">3</a></li>
        <li class="waves-effect"><a href="#!">4</a></li>
        <li class="waves-effect"><a href="#!">5</a></li>
        <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
    </ul>

    <footer class="page-footer #0d47a1 blue darken-4">
        <div class="footer-copyright">
            <div class="container">
                ©Copyright FeedHub - 2024
            </div>
        </div>
    </footer>

</body>
 
</html>